/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.tableDiv {
  padding: 10px 30px;
}

#mainDiv {
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
}
